*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    height: 100vh;
}
.taskbar{
    position:absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width:100%;
    background-color:#f3f3f3 ;
    z-index: 110;
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin:6px 0;
    height: 85%;
}
.startmenu{
    position: absolute;
    /* bottom: 50px; */
    bottom: -725px;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease-in;
}

.startmenu img{
     border-radius: 8px;
}

